@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
body {
    background-color: rgb(255, 253, 235);
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: rgb(238, 177, 177);
}
a:visited {
    color: rgb(91, 99, 102);
}
.title {
    @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
    font-family: 'Creepster', cursive;  
    font-size:45px ;
    font-weight: bolder ;
    background-color: rgb(207, 36, 36);
    margin: 5px;
    padding: 1px;
    border-radius: 20px;
    text-align: center;
}
.decade {
        @import url('https://fonts.googleapis.com/css2?family=Creepster&family=Oi&display=swap');
        font-family: 'Oi', cursive;
        font-size: 22px;
        font-weight: 800;
        font-style: italic;
        margin: 10px;
        text-align: center;
}
.bottom {
    background-color: rgb(207, 36, 36);
    margin: 0px;
    padding: 20px;
}